<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container">
      <a routerLink="/" class="navbar-brand">REST Services</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button class="btn btn-outline-secondary" routerLink="/">
                Registrar Personas
              </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-primary" routerLink="/persons">
              Ver Personas
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>